<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="urlbase" value="http://guido.test:8000/"></add>
    <!--<add key="urlbase" value="https://guidoelectronic.com/"></add>-->
    <add key="ClienteBase" value="C000026"></add>
    <add key="userEmail" value="salvatorex89@gmail.com"></add>
    <add key="userPassword" value="1234"></add>
    <add key="token" value=""></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ADM" connectionString="Data Source=DESKTOP-69UQLAH\SQLSERVER2016;Initial Catalog=GUIDOELECTRONIC;Persist Security Info=True;User ID=sa;Password=1982537" providerName="System.Data.SqlClient" />
    <add name="BDADMSURTIOFFICE" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-69UQLAH\SQLSERVER2016;initial catalog=GUIDOELECTRONIC;user id=sa;password=1982537;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BDADMSURTIOFFICEEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-69UQLAH\SQLSERVER2016;initial catalog=GUIDOELECTRONIC;user id=sa;password=1982537;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>